/*
------------------------------------------------
        First Step Card Section
------------------------------------------------
*/

@media (min-width:992px) and (max-width:1199px){
    #grilla {
        display: grid;
        grid-template-areas:
        "card1 card3"
        "card1 card3"
        "card2 card3"
        "card2 card3";
        grid-template-rows: 300px 300px; 
        grid-template-columns: 49% 49%;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
     }
     .card1 .form {
        position: relative;
        left: 5px;
        width: 300px;
        height: 600px;
     }
     .card1 .form .img-rank {
        width: 330px;
        margin-left: 80px;
     }
     .card1 .form .img-rank .division {
        margin-left: 70px;
        margin-top: 40px;
    }
     .card1 .form .container-rank {
        position: relative;
        top: 10px;
        left: 70px;
        width: 300px;
        height: 300px ;
    }
    .card1 .form .container-rank select {
        position: relative;
        left: 25px;
        top: 60px;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card2 {
        height: 500px;
    }
    .card2 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 500px;
     }
     .card2 .form .img-rank {
         width: 330px;
         margin-left: 80px;
     }
     .card2 .form .img-rank .division {
        margin-left: 70px;
    }
     .card2 .form .container-rank {
        position: relative;
        top: 10px;
        left: 70px;
        width: 300px;
        height: 200px ;
    }
    .card2 .form .container-rank select {
        position: relative;
        left: 20px ;
        top: 40px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card3 .configuration {
        position: relative;
        left: 120px;
    }
    .card3 .test {
        position: relative;
        left: -180px;
        top: 520px;
    }
}

@media (min-width:900px) and (max-width:991px){
    #grilla {
        display: grid;
        grid-template-areas:
        "card1 card3"
        "card1 card3"
        "card2 card3"
        "card2 card3";
        grid-template-rows: 300px 300px; 
        grid-template-columns: 49% 49%;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
     }
     .card1 .form {
        position: relative;
        left: 5px;
        width: 300px;
        height: 600px;
     }
     .card1 .form .img-rank {
        width: 330px;
        margin-left: 20px;
     }
     .card1 .form .img-rank .division {
        margin-left: 70px;
        margin-top: 40px;
    }
     .card1 .form .container-rank {
        position: relative;
        top: 10px;
        left: 40px;
        width: 300px;
        height: 300px ;
    }
    .card1 .form .container-rank select {
        position: relative;
        left: 25px;
        top: 60px;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card2 {
        height: 500px;
    }
    .card2 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 500px;
     }
     .card2 .form .img-rank {
         width: 330px;
         margin-left: 20px;
     }
     .card2 .form .img-rank .division {
        margin-left: 70px;
    }
     .card2 .form .container-rank {
        position: relative;
        top: 10px;
        left: 40px;
        width: 300px;
        height: 200px ;
    }
    .card2 .form .container-rank select {
        position: relative;
        left: 20px ;
        top: 40px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card3 .configuration {
        position: relative;
        left: 80px;
    }
    .card3 .test {
        position: relative;
        left: -210px;
        top: 520px;
    }
}

@media (min-width:768px) and (max-width: 899px) {
    #grilla {
        display: grid;
        grid-template-areas:
        "card1 card3"
        "card1 card3"
        "card2 card3"
        "card2 card3";
        grid-template-rows: 300px 300px; 
        grid-template-columns: 49% 49%;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
     }
     .card1 .form {
        position: relative;
        left: 5px;
        width: 300px;
        height: 600px;
     }
     .card1 .form .img-rank {
        width: 330px;
        margin-left: 20px;
     }
     .card1 .form .img-rank .division {
        margin-left: 70px;
        margin-top: 40px;
    }
     .card1 .form .container-rank {
        position: relative;
        top: 10px;
        left: 10px;
        width: 300px;
        height: 300px ;
    }
    .card1 .form .container-rank select {
        position: relative;
        left: 25px;
        top: 60px;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card2 {
        height: 500px;
    }
    .card2 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 500px;
     }
     .card2 .form .img-rank {
         width: 330px;
         margin-left: 20px;
     }
     .card2 .form .img-rank .division {
        margin-left: 70px;
    }
     .card2 .form .container-rank {
        position: relative;
        top: 10px;
        left: 10px;
        width: 300px;
        height: 200px ;
    }
    .card2 .form .container-rank select {
        position: relative;
        left: 20px ;
        top: 40px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card3 .configuration {
        position: relative;
        left: 40px;
    }
    .card3 .test {
        position: relative;
        left: -260px;
        top: 520px;
    }
}

@media (min-width:411px) and (max-width:767px) {
    #grilla {
        display: grid;
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card3";
        grid-template-rows: 600px 500px 600px 500px; 
        grid-template-columns: 380px;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-top: 20px;
        margin-left: 15px;
     }
     .card1 .form {
        position: relative;
        left: 5px;
        width: 300px;
        height: 600px;
     }
     .card1 .form .img-rank {
         margin-left: 20px;
         width: 400px;
     }
     .card1 .form .img-rank .division {
        margin-left: 70px;
        margin-top: 40px;
    }
     .card1 .form .container-rank {
        position: relative;
        top: 10px;
        left: 20px;
        width: 300px;
        height: 300px ;
    }
    .card1 .form .container-rank select {
        position: relative;
        left: 25px;
        top: 60px;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card2 {
        height: 500px;
    }
    .card2 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 500px;
     }
     .card2 .form .img-rank {
         width: 330px;
         margin-left: 20px;
     }
     .card2 .form .img-rank .division {
        margin-left: 70px;
    }
     .card2 .form .container-rank {
        position: relative;
        top: 10px;
        left: 20px;
        width: 300px;
        height: 200px ;
    }
    .card2 .form .container-rank select {
        position: relative;
        left: 20px ;
        top: 40px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card3 .configuration {
        position: relative;
        left: 40px;
    }
    .card3 .test {
        position: relative;
        left: -260px;
        top: 520px;
    }
}

@media (min-width:375px) and (max-width:410px){
    #grilla {
        display: grid;
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card3";
        grid-template-rows: 600px 500px 600px 500px; 
        grid-template-columns: 340px;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-top: 20px;
        margin-left: 20px;
     }
     .card1 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 600px;
     }
     .card1 .form .img-rank {
         width: 330px ;
         margin-left: -10px;
     }
     .card1 .form .img-rank .division {
        margin-left: 70px ;
        margin-top: 40px ;
    }
     .card1 .form .container-rank {
        position: relative;
        top: 10px ;
        left: -5px ;
        width: 300px;
        height: 300px  ;
    }
    .card1 .form .container-rank select {
        position: relative;
        left: 25px ;
        top: 60px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card2 {
        height: 500px;
    }
    .card2 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 500px;
     }
     .card2 .form .img-rank {
         width: 330px ;
         margin-left: -10px;
     }
     .card2 .form .img-rank .division {
        margin-left: 70px ;
    }
     .card2 .form .container-rank {
        position: relative;
        top: 10px ;
        left: -5px ;
        width: 300px;
        height: 200px ;
    }
    .card2 .form .container-rank select {
        position: relative;
        left: 20px ;
        top: 40px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card3 .configuration {
        position: relative;
        left: 20px;
    }
    .card3 .test {
        position: relative;
        left: -280px;
        top: 520px;
    }
}

@media (max-width:360px) {
    #grilla {
        display: grid;
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card3";
        grid-template-rows: 600px 500px 600px; 
        grid-template-columns: 340px;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-top: 20px;
        margin-left: 10px;
     }
     .card1 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 600px;
     }
     .card1 .form .img-rank {
         width: 330px ;
         margin-left: -10px;
     }
     .card1 .form .img-rank .division {
        margin-left: 70px ;
        margin-top: 40px ;
    }
     .card1 .form .container-rank {
        position: relative;
        top: 10px ;
        left: -5px ;
        width: 300px;
        height: 300px  ;
    }
    .card1 .form .container-rank select {
        position: relative;
        left: 25px ;
        top: 60px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card2 {
        height: 500px;
    }
    .card2 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 500px;
     }
     .card2 .form .img-rank {
         width: 330px ;
         margin-left: -10px;
     }
     .card2 .form .img-rank .division {
        margin-left: 70px ;
    }
     .card2 .form .container-rank {
        position: relative;
        top: 10px ;
        left: -5px ;
        width: 300px;
        height: 200px ;
    }
    .card2 .form .container-rank select {
        position: relative;
        left: 20px ;
        top: 40px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card3 .configuration {
        position: relative;
        left: 0px;
    }
    .card3 .test {
        position: relative;
        left: 0px;
        top: 520px;
    }
}

@media (max-width:320px) {
    #grilla {
        display: grid;
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card3";
        grid-template-rows: 600px 500px 600px; 
        grid-template-columns: 300px;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-top: 20px;
        margin-left: 10px;
     }
     .card1 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 600px;
     }
     .card1 .form .img-rank {
         width: 330px;
         margin-left: -20px;
     }
     .card1 .form .img-rank .division {
        margin-left: 70px;
        margin-top: 40px;
    }
     .card1 .form .container-rank {
        position: relative;
        top: 10px;
        left: -5px;
        width: 300px;
        height: 300px;
    }
    .card1 .form .container-rank select {
        position: relative;
        left: 25px;
        top: 60px;
        width: 250px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card2 {
        height: 500px;
    }
    .card2 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 500px;
     }
     .card2 .form .img-rank {
         width: 330px;
         margin-left: -20px;
     }
     .card2 .form .img-rank .division {
        margin-left: 70px;
    }
     .card2 .form .container-rank {
        position: relative;
        top: 10px;
        left: -5px;
        width: 300px;
        height: 200px;
    }
    .card2 .form .container-rank select {
        position: relative;
        left: 20px;
        top: 40px;
        width: 250px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card3 .configuration {
        position: relative;
        left: -15px;
    }
    .card3 .test {
        position: relative;
        left: -15px;
        top: 520px;
    }
}

/*
------------------------------------------------
        Second Step Card Section
------------------------------------------------
*/

