.main-section {
    font-family: "Raleway", sans-serif;
    position: absolute;
    top: 150px;
    left: 230px;
    width: 1200px;
    height: 620px;
    background: #fff;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    -webkit-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
}

.header-section {
    position: absolute;
    top: 70px;
    width: 1200px;
    height: 80px;
    left: 230px;
    background: #d8d6d6;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.division {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1200px;
    height: 80px;
    background-color: #e9e8e8;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-style: hidden hidden solid hidden;
    border-color: #cccccc;
}

.main-section h1 {
    font-size: 26px;
    margin-top: 20px;

}

.sub-title {
    line-height: 1em;
    font-weight: 500;
}

.card {
    width: 550px;
    height: 200px;
    background: #ffffff;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50px;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(148,148,148,1);
    -moz-box-shadow: 10px 10px 5px -6px rgba(148,148,148,1);
    box-shadow: 10px 10px 5px -6px rgba(148,148,148,1);
}

.card-container {
    width: 550px;
    height: 200px;
}

.card2 {
    position: absolute;
    top: 335px;
    width: 550px;
    height: 200px;
    background: #ffffff;
    margin-left: 35px;
    border-radius: 50px;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(148,148,148,1);
    -moz-box-shadow: 10px 10px 5px -6px rgba(148,148,148,1);
    box-shadow: 10px 10px 5px -6px rgba(148,148,148,1);
}

.card2-container {
    width: 550px;
    height: 200px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    margin-left: 100px;
}

.img-fluid {
    position: absolute;
    left: 50px;
    top: 22px;
    width: 35px;
    height: 35px;
}

.img-fluid2 {
    position: absolute;
    left: 0px;
    top: 24px;
    width: 30px;
    height: 30px;
}

.img-fluid3 {
    position: absolute;
    left: 20px;
    top: 24px;
    width: 30px;
    height: 30px;
}

.img-fluid4 {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 160px;
    height: 170px;
}

.rank {
    position: absolute;
    left: 200px;
    top: 40px;
    width: 300px;
    height: 50px;
    background: #f1f0f0;
    border-radius: 50px;

}

.rank select {
    position: absolute;
    left: 15px;
    background: #f1f0f0;
    width: 280px;
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    border: none;
}

.divition select{
    position: absolute;
    left: 15px;
    background: #f1f0f0;
    width: 280px;
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    border: none;
}

.divition {
    position: absolute;
    left: 200px;
    top: 95px;
    width: 300px;
    height: 50px;
    background: #ececec;
    border-radius: 50px;
}

.status-lp {
    position: absolute;
    top: 150px;
    left: 255px;
    width: 200px;
    height: 30px;
    border-radius: 50px;
    background: #ececec;
    border: none;
}

.status-lp select {
    width: 200px;
    height: 30px;
    background: #ececec;
    border-radius: 50px;
    border: none;
}

.continue {
    position: absolute;
    left: 900px;
    top: 550px;
    width: 200px;
    height: 50px;
    font-size: 12px;
    border-radius: 20px;
    background-color: #ff589e;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 50px;
    -webkit-box-shadow: 10px 10px 17px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 17px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 17px -9px rgba(0,0,0,0.75);
}

.continue:hover {
    background-color: rgb(218, 49, 218);
    -webkit-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
}

.cont {
    font-size: 17px;
    font-weight: 500;
    margin-top: 12px;
    color: #ffffff;
}

/* --- CARD ---- 3 */

.card3 {
    width: 250px;
    height: 50px;
    margin-top: -10px;
    margin-left: 20px;
    background: #ffffff;
    border-radius: 50px;
}

.mini-card-container {
    width: 400px;
    height: 50px;
}

.server-icon {
    margin-top: 10px;
    margin-left: 15px;
    width: 32px;
    height: 32px;
}

.server-title {
    color: #000;
    margin-top: -28px;
    margin-left: 60px;
}

.server {
    margin-top: -37px;
    margin-left: 125px;
}

.server select {
    margin-left: 5px;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    background: #ffffff;
    border: none;
}

/* --- CARD ---- 4 */

.card4 {
    width: 250px;
    height: 50px;
    margin-left: 20px;
    background: #ffffff;
    border-radius: 50px;

}

.modo {
    margin-top: -26px;
    margin-left: 125px;
}

.modo select {
    margin-left: 5px;
    width: 120px;
    height: 30px;
    border-radius: 50px;
    background: #ffffff;
    border: none;
}


/* --- CARD ---- 5 */

.card5 {
    position: absolute;
    left: 0px;
    top: 340px;
    width: 250px;
    height: 50px;
    margin-left: 20px;
    background: #ffffff;
    border-radius: 50px;
}


/* --- CARD 6 --- */

.card9 {
    position: absolute;
    top: 110px;
    left: 820px;
    width: 350px;
    height: 450px;
    background: #ffffff;
    border-radius: 50px;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(148,148,148,1);
    -moz-box-shadow: 10px 10px 5px -6px rgba(148,148,148,1);
    box-shadow: 10px 10px 5px -6px rgba(148,148,148,1);
}

.card-title2 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 130px;
    margin-top: 10px;
}

.card9 hr {
    width: 250px;
}

.card9 .price-a {
    margin-left: 40px;
    margin-top: -10px;
    font-size: 14px;
    font-weight: 600;
}

.card9 .price-b {
    margin-left: 150px;
    margin-top: -10px;
    font-size: 14px;
    font-weight: 600;
    color: #b8b9b8;
}

.card9 .price-c {
    margin-left: 125px;
    margin-top: -15px;
    font-size: 22px;
    font-weight: 600;
    color: #a82cda;
}

.card9 .time-a {
    margin-left: 40px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 600;
}

.card9 .time-b {
    margin-left: 150px;
    margin-top: -50px;
    font-size: 22px;
    font-weight: 600;
}

/* --- CARD 7 --- */

.card7 {
    position: absolute;
    left: 260px;
    top: 195px;
    width: 250px;
    height: 50px;
    margin-left: 20px;
    background: #ffffff;
    border-radius: 50px;
}

.checkbox {
    position: absolute;
    left: 195px;
    top: 15px;
    height: 20px;
    width: 20px;
}

.card8 {
    position: absolute;
    left: 260px;
    top: 290px;
    width: 250px;
    height: 50px;
    margin-left: 20px;
    background: #ffffff;
    border-radius: 50px;
}

.image-container {
    margin-top: 15px;
    margin-left: 15px;
    width: 220px;
    height: 30px;
}

.image-champ {
    width: 35px;
    height: 35px;
    margin-top: -5px
}

.image-container2 {
    margin-top: 25px;
    margin-left: 10px;
    width: 220px;
    height: 30px;
}

.image-champ2 {
    margin-top: -45px;
    width: 35px;
    height: 35px;
}

.info-card {
    width: 750px;
    height: 450px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-left: 35px;
    border-radius: 50px;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(148,148,148,1);
    -moz-box-shadow: 10px 10px 5px -6px rgba(148,148,148,1);
    box-shadow: 10px 10px 5px -6px rgba(148,148,148,1);
}

.info-container {
    width: 750px;
    height: 450px;
    border-radius: 50px;
    padding-top: 10px;
    margin-left: 30px;
}

.info-container input {
    width: 210px;
}

.info-container input:hover {
    border-color: rgb(218, 49, 218);
}

.info-container label {
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: -5px;
}

.contact label {
    margin-top: 10px;
}

.contact input {
    width: 670px;
    height: 150px;
}

.user {
    position: absolute;
    top: 123px;
    left: 295px;
}

.pass {
    position: absolute;
    top: 123px;
    left: 525px;
}

.cemail {
    position: absolute;
    top: 177px;
    left: 295px;
}

.ref {
    position: absolute;
    top: 177px;
    left: 525px;
}

.opc-pago {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.info-container hr {
    margin-left: 5px;
    margin-top: -5px;
    width: 650px;
}

.info-container label {
    font-size: 14px;
    font-weight: 600;
}

.payments2 {
    margin-left: -40px;
}

.brubank {
    margin-left: -45px;
    margin-top: -5px;
}

.info-rank {
    width: 300px;
    height: 175px;
}

.info-rank p {
    font-size: 18px;
    font-weight: 600;
}

.info-rank img {
    margin-top: -20px;
    width: 125px;
}

.actual {
    margin-left: 50px;
    width: 125px;
    height: 125px;
}

.proximo {
    margin-top: -125px;
    margin-left: 185px;
    width: 125px;
    height: 125px;
}

.info-rank-p {
    margin-top: -10px;
    margin-bottom: -5px;
}

.pay {
    position: absolute;
    left: 80px;
    top: 430px;
    width: 200px;
    height: 50px;
    font-size: 12px;
    border-radius: 20px;
    background-color: #ff589e;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 50px;
    -webkit-box-shadow: 10px 10px 17px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 17px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 17px -9px rgba(0,0,0,0.75);
}

.pay:hover {
    background-color: rgb(218, 49, 218);
    -webkit-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
}

.button-pay {
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
}

